.expense-date {
  color: rgb(300, 300, 300);

  /* border-color: rgb(200, 200, 200); */
  /* border-width: 2px; */
  border-radius: 8px;
}

.expense-date.container {
  background-color: rgb(31, 31, 31);
  color: rgb(300, 300, 300);

  min-width: 132px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  text-align: center;

  padding: 12px 24px;

  border-color: #fff;
  border-width: 2px;
  border-radius: 8px;
}

.expense-date.day {
  margin: 12px 0 0;

  font-size: 32px;
  font-weight: 600;
}

.expense-date.month {
  font-size: 18px;
  font-weight: 600;
}

.expense-date.year {
  margin: 4px 0 0;

  color: rgb(170, 170, 170);
  font-size: 18px;
}
